@charset "utf-8";
/* CSS Document */
body
{
		font-family: meriad;
		padding:0;
		margin:0;
		background-color:#f4f4f4;
}
.container
{
	width:80%;
	margin:auto;
	overflow:none;
}
header
{
	background:#35424a;
	color: #ffffff;
	padding-top:30px;
	min-height: 70px;
	border-bottom: #01D2D2 3px solid;
}
header ul
{
	padding:0;
	margin:0;
}
header li
{
	float:left;
	display:inline-block;
	padding: 0 20px 0 20px;
}
header #search
{
	margin-top: -30px;
	clear: left;
	float:right;
}
header a
{
	color:#ffffff;
	text-decoration: none;
	font-size: 18px;
}
#branding
{
float: left;

}
.leftside {
	
	padding: 5px;
	float:left;
	color:black;
	margin: 20px;
	
	width: 20%;
	border-radius: 20px;
}
.left{
	
	padding:10px;
	color:black;
	margin:0 2px 10px 2px;
	background:#CECECE;
	
	border-radius: 20px;
}
.left li{
	border-bottom:solid 2px #01D2D2;
	text-align:center;
	display:block;
	padding:3px;
	color:black;
	margin:0 2px 10px 2px;
	background:#CECECE;
	
	border-radius: 20px;
}
.left img{
	border:solid 2px #01D2D2;
	border-radius:100%;
	float:left;
	height:20px;
	width:20px;
	padding : 20px;
	width:20%;
}
.center{
	
	border-radius: 20px;
	width: 40%;
	margin:20px;
	float:left;
	text-align:justify;
	padding: 5px;
}
.section-center
{
	
	border:solid 2px #CECECE;
	background:#CECECE;
	border-radius: 20px;
	width: 80%;
	margin: 0 10px 10px 10px;
	padding: 5px;
}
.rightside{
	
	
	width: 30%;
	float:left;
	padding: 5px;
	margin:20px 0 20px 0 ;
}
.right
{
	margin:0px 0px 10px 0px;
	padding:5% 5% 5% 5%;
	border-radius: 5%;
	background-color:#cecece;
}
.leftside p
{
	clear:left;
	color: #777070;
	}
.bar
{
	float:left;
	width:10%;
	background-color: Grey;
}
.left a:hover,h3:hover{
	
	text-decoration:none;
	color:white;
}
.left li:hover ,header li:hover{
	border-bottom:solid 2px white;
	text-decoration:none;
	color:white;
	}
.left a,h3
{
	text-align:center;
	color:#01D2D2;
	text-decoration:none;	
}